.hero {
    padding: 6rem 2rem;
    text-align: center;
    @media (min-width: 61rem) {
        padding-block: 11rem;
    }
}

.hero-wrapper {
    max-width: 40rem;
    margin-inline: auto;
    p {
        font-size: 1.125rem;
        opacity: 0.9;
        margin-bottom: 3rem;
        @media (min-width: 45rem) {
            font-size: 1.25rem;
        }
    }
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1.25rem;
    @media (min-width: 45rem) {
        font-size: 3rem;
    }
}
