@use "./variables" as *;

.testimonials {
    background-color: rgb(74 109 247 / 0.03);
    padding-block: 7.5rem 5rem;
    padding-inline: 3rem;
    text-align: center;
}

.testimonial-card {
    background-color: $clr-primary-700;
    padding: 2rem;
    border-radius: 0.375rem;
    margin-bottom: 2.5rem;
    text-align: left;
    color: $clr-neutral-100;
    .flex-group {
        gap: 0.25rem;
        fill: $clr-star;
        justify-content: start;
        margin-bottom: 1.25rem;
    }
    > p {
        margin-bottom: 2rem;
    }
}

.testimonials-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    border-top: 1px solid $clr-primary-200;
    p {
        grid-column: 2 / -1;
        color: $clr-primary-200;
        font-size: 0.875rem;
    }
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    grid-row: span 2;
}
