$ff-body: "Inter", sans-serif;
$clr-neutral-900: #000;
$clr-primary-900: #090e34;
$clr-primary-800: #1d2144;
$clr-primary-700: #242b51;
$clr-primary-500: #4a6cf7;
$clr-primary-200: #949bb0;
$clr-primary-100: #ced3f6;
$clr-neutral-100: #fff;
$clr-star: #fbb040;
