@use "./variables" as *;
@use "./reset" as *;
@use "./header" as *;
@use "./hero" as *;
@use "./features" as *;
@use "./about" as *;
@use "./about-more" as *;
@use "./testimonials" as *;
@use "./footer" as *;
@use "./sign-in" as *;

body {
    font-family: $ff-body;
    background-color: $clr-primary-900;
    color: $clr-neutral-100;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}

.btn {
    border: 0;
    color: $clr-neutral-100;
    font-weight: 700;
    padding: 0.75rem 1.75rem;
    transition: opacity 250ms linear;
    cursor: pointer;
    &:is(:hover, :focus) {
        opacity: 0.6;
    }
}

.primary-btn {
    display: block;
    padding: 0.75rem 2.25rem;
    background: $clr-primary-500;
    border-radius: 0.375rem;
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.secondary-btn {
    display: block;
    padding: 0.75rem 2.25rem;
    background: $clr-primary-700;
    border-radius: 0.375rem;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.scroll-btn.show {
    display: flex;
}
.scroll-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background: $clr-primary-500;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
}

.arrow-up {
    width: 0.75rem;
    height: 0.75rem;
    border-top: 1px solid $clr-neutral-100;
    border-left: 1px solid $clr-neutral-100;
    transform: rotate(45deg);
}
