@use "./variables" as *;
@use "./reset" as *;
@use "./header" as *;
@use "./hero" as *;
@use "./features" as *;
@use "./about" as *;
@use "./testimonials" as *;
@use "./footer" as *;
@use "./sign-in" as *;
@use "./support" as *;
@use "pricing" as *;

body {
    font-family: $ff-body;
    background-color: $clr-primary-900;
    color: $clr-primary-200;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 500;
}

.btn {
    border: 0;
    color: $clr-neutral-100;
    font-weight: 700;
    padding: 0.75rem 1.75rem;
    transition: opacity 250ms linear;
    cursor: pointer;
    text-align: center;
    &:is(:hover, :focus) {
        opacity: 0.6;
    }
}

.primary-btn {
    display: block;
    padding: 0.75rem 2.25rem;
    background: $clr-primary-500;
    border-radius: 0.375rem;
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.secondary-btn {
    display: block;
    padding: 0.75rem 2.25rem;
    background: $clr-primary-700;
    border-radius: 0.375rem;
}

.scroll-btn.show {
    display: flex;
}
.scroll-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background: $clr-primary-500;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
}

.arrow-up {
    width: 0.75rem;
    height: 0.75rem;
    border-top: 1px solid $clr-neutral-100;
    border-left: 1px solid $clr-neutral-100;
    transform: rotate(45deg);
}

.primary-heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $clr-neutral-100;
    @media (min-width: 33.75rem) {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    @media (min-width: 45rem) {
        font-size: 2.8125rem;
    }
}

.secondary-heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: $clr-neutral-100;
    @media (min-width: 33.75em) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    @media (min-width: 60em) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    @media (min-width: 71.25em) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.leading {
    max-width: 60ch;
    margin-inline: auto;
    color: $clr-primary-200;
    @media (min-width: 45rem) {
        font-size: 1.125rem;
    }
}

.wrapper {
    max-width: 78rem;
    margin-inline: auto;
}

.even-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--spacing);
    > * {
        flex: 1;
    }
    @media (min-width: 70em) {
        flex-direction: row;
    }
}
